altgraph==0.17.4
annotated-types==0.7.0
anyio==4.9.0
autocommand==2.2.2
backports-tarfile==1.2.0
cached-property==2.0.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
chevron==0.14.0
click==8.2.1
colorama==0.4.6
cryptography==45.0.5
distro==1.9.0
exceptiongroup==1.3.0
frozendict==2.4.6
genanki==0.13.1
groq==0.30.0
gtts==2.5.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
importlib-metadata==8.7.0
inflect==7.5.0
jaraco-collections==5.2.1
jaraco-context==6.0.1
jaraco-functools==4.2.1
jaraco-text==4.0.0
more-itertools==10.7.0
packaging==25.0
pdfminer-six==20250506
pdfplumber==0.11.7
pefile==2024.8.26
Pillow==11.3.0
platformdirs==4.3.8
pycparser==2.22
pydantic==2.11.7
pydantic-core==2.37.2
PyInstaller==6.14.2
pyinstaller-hooks-contrib==2025.8
pypdfium2==4.30.1
PyQt5==5.15.11
pyqt5-plugins==5.15.9.2.3
pyqt5-qt5==5.15.17
pyqt5-sip==12.17.0
pyqt5-tools==5.15.9.3.3
pytesseract==0.3.13
python-dotenv==1.1.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
requests==2.32.4
setuptools==80.9.0
sniffio==1.3.1
tomli==2.2.1
typeguard==4.4.4
typing-extensions==4.14.1